<%# app/views/shared/sidebar/_logo.html.erb %>
<a href="/" class="flex items-center text-white space-x-4">
  <svg class="w-7 h-7 bg-indigo-600 rounded-lg p-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"/>
  </svg>
  <span class="text-2xl font-bold"><%= content_for(:title) || "Osn App" %></span>
</a>