/ app/views/shared/sidebar/_profile.html.slim
- if current_user
  .text-gray-200.border-gray-800.rounded.flex.items-center.justify-between.p-2
    .flex.items-center.space-x-2
      p.font-semibold
        = current_user.login_id

    = button_to 'logout', destroy_user_session_path, method: :delete
