<%# app/views/shared/sidebar/_profile.html.erb %>
<div class="text-gray-200 border-gray-800 rounded flex items-center justify-between p-2">
  <div class="flex items-center space-x-2">
    <p class="font-semibold">John Doe</p>
  </div>
  <p>JD</p>
</div>